/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
    padding: 4%;
}

.container {
    width: 70%;
    margin: auto;
}

.carousel {
    height: 100vh;
    display: flex;
    align-items: center;
}

.pics img {
    display: none;
}

img.active {
    display: block;
}

.arrow i {
    font-size: 40px;
    cursor: pointer;
}

